img{width:auto; height:100%;}
.pic_group {text-align:center; }
.pic_group .pic_option div {
    width:170px;
    height:180px;
    border:10px solid rgb(148, 215, 213);
    overflow:hidden;
    box-shadow:0 0 5px;
    margin-bottom:30px;
    display:inline-block;}

/*Adds background color*/
body {
    background-color: rgb(134, 142, 214);
}

/*.pic_group div:nth-child(1) {border:2px dashed blue;}*/
.pic_option {
    margin:5px;
    margin-bottom:10px;
    text-align: center;
}

/* design used when mouse cursor hover the image label */
.pic_option label:hover {
    color:green;
    font-weight:bold;
    box-shadow: 0 10px 10px -5px;
}

/* page boarder of the whole web page*/
.page_border {
    width:100%;
    float:left;
    margin-top:40px;
    padding:40px;
    margin-left: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
